<nav class="navbar navbar-inverse navbar-fixed-top dark-background">
	<div class="container-fluid">
		<div class="navbar-header pull-left">
			<a class="navbar-brand" href="#">SQL Workspace</a>
		</div>
		<div id="controls" class="pull-left">
			<ul class="nav navbar-nav">
				<li>
					<button class="btn btn-dark"> 
						<span class="fa fa-play"></span> 
					</button>
				</li>
			</ul>
		</div>
		<div class="pull-right">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<button class="btn btn-dark"> 
						<span class="fa fa-cog"></span> 
					</button>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
<div id="sidebar"></div>
</div>
